/* core/static/css/admin_custom.css */

:root {
    /* -- Paleta de Colores -- */
    --primary-color: #007671;
    /* Color institucional: rgb(0, 161, 142) */
    --primary-color-dark: #007671;
    /* Un tono más oscuro para hover/activos */
    --link-color: #007671;
    --header-background: var(--primary-color);
    --header-text-color: #ffffff;
    --module-header-background: var(--primary-color-dark);
    --button-background: var(--primary-color);
    --button-text-color: #ffffff;

    /* -- Tipografía -- */
    --font-size-base: 16px;
    /* Tamaño base para el cuerpo */
    --font-size-h1: 24px;
    /* Título principal del sitio */
    --font-size-h2: 18px;
    /* Títulos de los módulos */
}

/* -- Aplicación de Estilos -- */

/* Cuerpo principal y fuentes base */
body {
    font-size: var(--font-size-base);
}

#nav-filter {
    display: none;
}

/* #nav-sidebar .current-model {
    background: #f2f2f2;
} */

#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    color: #f2f2f2;
    font-weight: bold;
}

/* Cabecera principal */
#header {
    background-color: var(--header-background);
    color: var(--header-text-color);
}

#header a:link,
#header a:visited {
    color: var(--header-text-color);
}

#site-name {
    font-size: var(--font-size-h1);
}

/* Cabeceras de los módulos (Becarios, Marcaciones, etc.) */
.module h2,
.module caption,
.inline-group h2 {
    background-color: var(--module-header-background);
    font-size: var(--font-size-h2);
}

div.breadcrumbs {
    background: none;
    padding: 15px 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #777;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
}

div.breadcrumbs a {
    color: #555;
}

/* Enlaces */
a:link,
a:visited {
    color: var(--link-color);
}

/* Botones y acciones principales */
.button,
input[type=submit],
input[type=button],
.submit-row input {
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: var(--font-size-base);
    padding: 8px 15px;
    border-radius: 4px;
}

.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: var(--primary-color-dark);
}
